<div class="banner">
  <div class="nav"><%= link_to "My lists", lists_path, class: "nav-text" %></div>
  <div class="banner-container">
    <h1>Save your favorite movies</h1>
    <p>Everything organized conveniently in one place.</p>
  </div>
</div>

<div class="lists-container my-5">
  <div class="container">
    <div class="row">
      <div class="col-8">
        <div class="list-cards">
          <% @lists.each do |list| %>
          <div class="list-card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('<%= cl_image_path list.photo.key, crop: :fill %>')">
            <%= link_to list.name, list_path(list), class: "list-card-text" %>
            <%# <%= link_to "Update", edit_list_path(list), class: "list-card-text" %>
          </div>
          <% end %>
        </div>
      </div>
      <div class="col-4">
        <div class="list-form d-flex flex-column justify-content-top mx-auto p-2">
          <h4>Add a list</h4>
          <%= simple_form_for(@list) do |f| %>
            <%= f.input :name %>
            <%= f.input :photo, as: :file %>
          <%= f.submit %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
