<div class="banner">
  <div class="container">
    <h1>Save your favorite movies</h1>
    <p class="px-3">Everything organized conveniently in one place.</p>
  </div>
</div>


<div class="list-cards">
  <% @lists.each do |list| %>
  <div class="list-card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('<%= cl_image_tag list.photo.key, height: 30, width: 40, crop: :fill %>')">
    <%= link_to list.name, list_path(list) %>
    <%# <%= link_to "Update", edit_list_path(list) %>
  <% end %>
  </div>

<div class="d-flex justify-content-center mx-auto mt-5">
  <%= simple_form_for(@list) do |f| %>
    <%= f.input :name %>
    <%= f.input :photo, as: :file %>
  <%= f.submit %>
  <% end %>
</div>
