<div class="show-banner" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('<%= cl_image_path @list.photo.key, crop: :fill %>')">
  <div class="nav"><%= link_to "My lists", lists_path, class: "nav-text" %></div>
  <div class="banner-container">
    <h1><%= @list.name %></h1>
  </div>
</div>

<!-- Button trigger modal -->
<div class="d-flex justify-content-end m-3">
  <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
    Add a movie
  </button>
</div>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Add a movie</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
      <%= simple_form_for [@list, @bookmark] do |f| %>
        <%= f.association :movie, prompt: "Choose a Movie" %>
        <%= f.input :comment %>
      </div>
      <div class="modal-footer">
        <%= f.submit class:"btn btn-primary" %>
      <% end %>
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<div class="bookmarks-container my-5">
  <div class="movies-container d-flex">
    <div class="cards w-75 mr-3">
      <% if @list.bookmarks.count > 0 %>
        <% @list.bookmarks.each do |bookmark| %>
        <div class="bookmark-card">
          <img src="<%= bookmark.movie.poster_url %>" alt="<%= bookmark.movie.title %> title">
          <div class="bookmark-card-details d-flex flex-column justify-content-between">

            <div>
              <div class="d-flex align-items-center">
                <h6><strong><%= bookmark.movie.title %></strong></h6>
                <h6 class="text-secondary">&nbsp;• <%= bookmark.movie.rating %></h6>
                <h6>&nbsp;<i class="fa-solid fa-star" style="color: #FFD43B;"></i></h6>
              </div>
              <p class="text-secondary"><%= bookmark.movie.overview %></p>
            </div>
            <div class="bookmark-card-comment d-flex flex-column justify-content-between">
              <div class="d-flex justify-content-between">
                <div class="d-flex">
                  <i class="fa-solid fa-quote-left"></i>
                  <p>&nbsp;<%= bookmark.comment %></p>
                </div>
                <div>
                  <%= link_to bookmark_path(bookmark),
                  data: {turbo_method: :delete, turbo_confirm: "Are you sure?"} do %>
                    <i class="fa-regular fa-trash-can"></i>
                  <% end %>
                </div>
              </div>
            </div>

          </div>
        </div>
        <% end %>
      <% else %>
        <%= "There are no movies in this list yet!" %>
      <% end %>
    </div>
    <div class="movie-form d-flex flex-column justify-content-top mx-auto w-25 p-2">
      <h4>Add a movie</h4>
      <%= simple_form_for [@list, @bookmark] do |f| %>
        <%= f.association :movie, prompt: "Choose a Movie" %>
        <%= f.input :comment %>
        <%= f.submit class:"btn btn-primary" %>
      <% end %>
    </div>
  </div>

  <div class="border-bottom my-5"></div>

  <div class="container">
    <div class="row">
      <div class="col-8">
        <div class="existing-reviews-container mr-3">
          <h2>Reviews</h2>
          <% if @list.reviews.count > 0 %>
            <% @list.reviews.each do |review| %>
              <% review.rating.times do %>
                <i class="fa-solid fa-star" style="color: #FFD43B;"></i>
              <% end %>
              <em class="time-ago"><%= time_ago_in_words(review.created_at) %> ago</em>
              <p><%= review.comment %></p>
              <%# <%= link_to "Delete", review_path(review),
              data: {turbo_method: :delete, turbo_confirm: "Are you sure?"} %>
              <div class="border-bottom my-2 w-100"></div>
            <% end %>
            <% else %>
              <%= "There are no reviews for this list yet!" %>
          <% end %>
        </div>
      </div>
      <div class="col-4">
        <div class="review-form d-flex flex-column mt-5 p-2">
          <h4>Add your review</h4>
          <%= simple_form_for [@list, @review] do |f| %>
            <%= f.input :comment %>
            <%= f.input :rating, collection: [1,2,3,4,5], prompt: "Select a rating (1-5)" %>
            <%= f.submit class:"btn btn-primary" %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
